# Ignore everything in the dist folder
dist/*

# But do not ignore index.html inside dist
!dist/index.html
!dist/form.html

# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional cache and dependency management files
package-lock.json
yarn.lock

# OS and IDE specific files
.DS_Store
Thumbs.db
.vscode/
.idea/
